@font-face {
  font-family: "Quicksand";
  src: url(" ./font/Quicksand-VariableFont_wght.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  justify-content: space-between;
  height: 90vh;
}

.greeting {
  font-size: 2rem;
  text-align: center;
  color: darkcyan;
}

.image {
  height: 100px;
  width: auto;
  align-self: center;
}
